.content{
  border:2px solid #e4e3e2;
  border-radius: 6px;
  padding:20px;
  margin:10px;
  font-family: sans-serif;
  background-color: #fae596;
  width:75%;
  float:right;
}
.content-header {
  background-color: #dddfd4;
}
.content h1 {
  color:#173e43;
}
aside {
  width:20%;
  float:left;
}
